<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <a href="#" *ngFor="let recipe of recipes" class="list-group-item clearfix">
                <div class="float-md-start">
                    <h4 class="mb-1">{{ recipe.name }}</h4>
                    <p class="mb-1">{{ recipe.description }}</p>  
                </div>
                <span class="float-md-end">
                    <img 
                        [src]="recipe.imagePath" 
                        alt="{{ recipe.name }}" 
                        class="img-responsive" 
                        style="max-height: 50px;"
                    >
                </span> 
            </a>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
